/**
 * Checkbox Toggle UI
 */
input[type="checkbox"].dp-ui-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-tap-highlight-color: transparent;

    width: auto;
    height: auto;
    vertical-align: middle;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 0 4px;
    background: none;
    box-shadow: none;
}
input[type="checkbox"].dp-ui-toggle:focus {
    box-shadow: none;
}
input[type="checkbox"].dp-ui-toggle:after {
    content: '';
    font-size: 8px;
    font-weight: 400;
    line-height: 18px;
    text-indent: -14px;
    color: #ffffff;
    width: 36px;
    height: 18px;
    display: inline-block;
    background-color: #a7aaad;
    border-radius: 72px;
    box-shadow: 0 0 12px rgb(0 0 0 / 15%) inset;
}
input[type="checkbox"].dp-ui-toggle:before {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    margin: 0;
    border-radius: 50%;
    background-color: #ffffff;
}
input[type="checkbox"].dp-ui-toggle:checked:before {
    left: 20px;
    margin: 0;
    background-color: #ffffff;
}
input[type="checkbox"].dp-ui-toggle,
input[type="checkbox"].dp-ui-toggle:before,
input[type="checkbox"].dp-ui-toggle:after,
input[type="checkbox"].dp-ui-toggle:checked:before,
input[type="checkbox"].dp-ui-toggle:checked:after {
    transition: ease .15s;
}
input[type="checkbox"].dp-ui-toggle:checked:after {
    background-color: #2271b1;
    /* __content: "\u2713";  //May cause issues if people are using different font in WordPress admin or their server isn't serving utf-8 content... not worth the headache */
}

.flexContainer {
    display: flex;
}

.wrap.flexContainer {
    margin-right: 0;
}

.flexContainer > div {
    flex-grow: 1;
    flex-basis: min-content;
}

.flexContainer h3 {
    margin: 0;
}

.flexContainer .notice > h3 {
    margin-top: 1em;
}

.flexContainer .notice > div {
    padding-top: 10px;
}

.flexContainer.notice > div {
    padding: 10px 5px;
    align-items: center;
    flex-basis: auto;
    display: grid;
}

.flexContainer .notice {
    margin-right: 15px;
}

.flexContainer .notice:last-of-type {
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.flexContainer .notice > div:last-of-type {
    align-self: end;
    margin: auto 0 10px;
}

.form-table .beta th .main:after {
	content: 'beta';
	font-size: 70%;
	vertical-align: top;
	margin-left: 5px;
	padding: 0 2px 1px;
	font-weight: bold;
	color: white;
	background-color: orange;
	border-radius: 3px;
}


.dp_overlay {
    background-color: #eee;
    width: 60%;
    position: fixed;
    top: 100px;
    left: 20%;
    border: 1px black solid;
    box-shadow: 0 0 0px 10px rgba(100, 100, 100, .7);
    border-radius: 3px;
    color: #222;
    padding: 10px;
    opacity: .95;
    z-index: 1000;
	max-height: calc(100vh - 200px);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.dp_overlay h2 {
    margin-top: 0.5em;
}

.dp_overlay .submit input {
    margin-right: 10px;
}

@media screen and (max-width: 782px)
{
    .dp_overlay {
        width:80%;
        left: 10%;
    }
}

@media screen and (max-width: 500px)
{
    .dp_overlay {
        width: 85%;
        left: 5%;
    }
}

.dp_error {
    background-color: #333;
    width: 40%;
    position: fixed;
    top: 200px;
    left: 30%;
    border: 1px black solid;
    box-shadow: 0 0 0px 10px rgba(100, 100, 100, .7);
    border-radius: 3px;
    color: white;
    padding: 10px;
    opacity: .9;
    z-index: 1000;
}

.dp_error .dismiss {
    float: right;
    margin: 40px 0 0 10px;
}

#contextual-help-link-wrap {
    z-index: 10;
}

#app-for-cf_sidebar_wrapper {
    position: absolute;
    right: 20px;
    width: 275px;
    margin-left: 10px;
}

#app-for-cf_sidebar {
    position: relative;
    top: 15px;
}

#app-for-cf_sidebar .pro {
    display: none;
}


#app-for-cf_sidebar > div {
    border-color: #ddd #bbb #bbb #ddd;
    padding: 10px;
}

#app-for-cf_sidebar h4 {
    margin-top: 2em;
}

#app-for-cf_sidebar > .postbox > h4 {
    margin-top: 0;
}

.button-primary .dashicons,
.button-secondary .dashicons {
    vertical-align: middle;
    font-size: 16px;
    height: 18px;
    padding-right: 4px;
}

.group_setup ul {
    padding-left: 3em;
    list-style: disc;
    font-size: 80%;
}

.group_setup ul li {
    margin-bottom: 3px;
}

.explain {
    font-size: 90%;
    opacity: 0.7;
    padding: 3px 5px 8px;
}

.wp-list-table .explain {
    padding: 0;
}

input::placeholder {
    opacity: 0.5;
}

.hide_value {
    text-shadow: 0 0 7px black;
    color: transparent !important;
}

.hide_value:focus,
.hide_value:placeholder-shown {
    text-shadow: none;
    color: inherit !important;
}




.tab-wrapper {
    margin-right: 285px;
}

/*
#app-for-cf_settings form {
    margin-right: 285px;
}
*/

.form-table tr {
    vertical-align: top;
}

.wp-list-table.access .description {
    white-space: nowrap;
}

.wp-list-table.r2 tbody th,
.wp-list-table.r2 tbody td {
    vertical-align: middle;
}

.wp-list-table.r2 tbody th .dashicons {
    font-size: 200%;
    height: 200%;
    color: grey;
    display: block;
}

.wp-list-table.r2 tbody tr.active th .dashicons {
    color: green;
}

.wp-list-table.r2 .main {
    font-size: 125%;
    font-weight: bold;
}

.wp-list-table.r2 .right {
    text-align: right;
}

.wp-list-table.r2 tfoot th {
    font-weight: bold;
}


@media screen and (max-width: 782px)
{
    .form-table th {
        text-align: left !important;
    }

    #cf-app_settings .form-table td {
        margin-bottom: 10px;
    }

    .responsiveHide {
        display: none;
    }
}



@media only screen and (max-width: 960px)
{
    .tab-wrapper {
        margin-right: 215px;
    }

    #app-for-cf_sidebar_wrapper {
        width: 205px;
    }

    #app-for-cf_sidebar .postbox {
        min-width: 185px;
    }
}

@media screen and (max-width: 782px)
{
    #app-for-cf_sidebar {
        display: none;
    }

    .tab-wrapper {
        margin-right: 0;
    }
}

.centerLastColumn tr >:last-child {
    text-align: center;
}

.pairs {
    display: inline-table;
}

.pairs .pairs--columns {
    display: table-row;
    table-layout: fixed;
    width: 100%;
    margin: 0 0 0.5em;
}

.pairs .pairs--columns > dt,
.pairs .pairs--columns > dd {
    display: table-cell;
    white-space: nowrap;
    text-align: left;
}

.pairs .pairs--columns > dt {
    width: 50%;
    padding: 0 6px 0 0;
    margin: 0;
    color: #8c8c8c;
}

.pairs .pairs--rightLabel > dt {
    text-align: right;
}

.pairs .pairs--columns > dt:after {
    content: ":";
}

.pairs > dd {
    padding: 0;
    margin: 0;
}

.pairs ul,
.pairs li {
    margin: 0;
}


.dependent {
    margin: 5px 0 5px 20px;
}





#app-for-cf_settings .form-table tr.subsection.border {
    border-width: 2px;
}

#app-for-cf_settings .form-table .subsection.border th {
    padding: 0;
    font-size: 120%;
}

#app-for-cf_settings .form-table tr + .subsection.border th {
    padding-top: 30px;
}

#app-for-cf_settings .form-table th {
    width: auto;
}

#app-for-cf_settings .form-table .beta th .main:after {
	content: 'beta';
	font-size: 70%;
	vertical-align: top;
	margin-left: 5px;
	padding: 0 2px 1px;
	font-weight: bold;
	color: white;
	background-color: orange;
	border-radius: 3px;
}

#app-for-cf_settings .form-table .deprecated th .main:after {
	content: 'deprecated';
	font-size: 70%;
	vertical-align: top;
	margin-left: 5px;
	padding: 0 2px 1px;
	font-weight: bold;
	color: white;
	background-color: red;
	border-radius: 3px;
}

#app-for-cf_settings label {
    display: block;
    margin: 5px 0;
}

#app-for-cf_settings label:first-of-type {
    margin-top: 0;
}

#app-for-cf_settings label:last-of-type {
    margin-bottom: 0;
}

#app-for-cf_settings .explain {
    font-weight: normal;
}

#app-for-cf_settings .border {
    border-bottom:  1px solid #d3d4d7;;
}

#app-for-cf_settings .border:last-of-type {
    border-bottom: 0;
}

#app-for-cf_settings .pro {
    border: 2px dashed orange;
    padding-right: 5px;
}

#app-for-cf_settings .pro li {
    list-style: disc;
    margin-left: 25px;
}

#app-for-cf_sidebar .postbox h4 + div {
    line-height: 1.4em;
}


/* tables */

.tablenav-pages .button-primary {
    margin-bottom: 2px;
}

.wp-list-table td {
    color: #000;
}

.wp-list-table tbody, .wp-list-table tbody th.check-column {
    padding: 8px 0 0 2px;
}

.wp-list-table .manage-column.check-column {
    border-left: 0 !important;
    padding-left: 6px;
}

.wp-list-table .manage-column.check-column {
    border-left: 3px solid transparent;
}

.wp-list-table .active th:first-of-type {
    border-left: 4px solid #00d2a0;
}

.wp-list-table .active td, .wp-list-table .active th {
    background-color: #f7fefc;
}

.wp-list-table .disable td, .wp-list-table .disable th {
    background-color: #f1e2e2;
}

.wp-list-table .column-value {
    min-width: 55px;
}

.wp-list-table .column-object {
    word-break: break-word;
}

.wp-list-table .row-title {
    font-weight: normal;
}

.wp-list-table .active .row-title {
    font-weight: 600;
}

.wp-list-table .disable {
    color: #996800;
}
.wp-list-table .delete {
    color: #b32d2e;
}


.wp-list-table ul.using {
    margin: 0;
}
.wp-list-table ul.using li {
    display: inline;
}
.wp-list-table ul.using li::after {
    content: " • ";
    opacity: 0.7;
}
.wp-list-table ul.using li:last-of-type::after {
    content: "";
}


@media screen and (max-width: 782px)
{
    .wp-list-table .column-name strong {
        font-size: 1.4em;
        line-height: 1.5;
    }

    .row-actions {
        display: block !important;
        color: #a7aaad !important;
    }

    .wp-list-table .hideable,
    .wp-list-table .hideable {
        display: none;
    }
}

@media screen and (max-width: 500px)
{
    .wp-list-table .more-hideable,
    .wp-list-table .more-hideable {
        display: none;
    }
}



@media (min-width: 650px)
{
    #flashWrapper {
        top: auto;
        bottom: 0;
        width: 400px;
    }
}
#flashWrapper {
    position: fixed;
    z-index: 99999;
}



#flashWrapper .flashMessage {
    position: relative;
    font-size: 24px;
    color: #202020;
    background: rgba(226,226,226,.9);
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
    display: none;
    opacity: 0;
    -webkit-transition: all .25s ease,-xf-opacity .25s ease;
    transition: all .25s ease,-xf-opacity .25s ease;
    overflow-y: hidden;
    height: 0;
    -webkit-transition-property: all,-xf-height;
    transition-property: all,-xf-height
}

#flashWrapper .flashMessage.is-active {
    display: block;
    opacity: 1
}

#flashWrapper .flashMessage.is-transitioning {
    display: block
}

#flashWrapper .flashMessage.is-active {
    height: auto;
    overflow-y: visible
}

#flashWrapper .flashMessage.is-transitioning {
    overflow-y: hidden
}

@media(min-width: 650px) {
    #flashWrapper .flashMessage {
        margin:15px;
        border-radius: 0 0 4px 4px
    }
}

#flashWrapper .flashMessage .flashMessage-timer {
    background-color: #f2930d;
    height: 3px;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0s ease-in-out
}

#flashWrapper .flashMessage.is-active .flashMessage-timer {
    width: 100%
}

#flashWrapper .flashMessage+.flashMessage {
    margin-top: 10px
}


#app-for-cf_analytics .displayData {
    display:table-row;
}

#app-for-cf_analytics .displayData label {
    display: table-cell;
    white-space: nowrap;
    text-align: center;
    font-size: 90%;
    color: #888;
}

#app-for-cf_analytics .displayData label div {
    font-weight: bold;
    opacity: 1;
    color: #3c434a;
}

#app-for-cf_analytics .displayData .chartContainer {
    display:table-cell;
    width:100%;
    height:60px;
}

.chartContainer canvas {
    max-width: 100%;
}

.switch-field {
    display: flex;
    margin-bottom: 10px;
    overflow: visible;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    __box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    flex-grow: 1;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #a5dc86;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.cf-app-pro {
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 0;
}
.cf-app-pro > div > div {
    float: right;
    display: table;
    margin: 10px 0 10px 10px;
    padding: 10px;
}

.cf-app-pro dl {
    display: table-row;
}
.cf-app-pro dt {
    display: table-cell;
    text-align: right;
    padding-right: 5px;
    color: #777;
}
.cf-app-pro dt:after {
    content: ":";
}

.cf-app-pro dd {
    display: table-cell;
    font-weight: bold;
}

.cf-app-pro a.button-primary {
    float: right;
    clear: both;
    margin: 10px 0 10px 10px;
}

@media screen and (max-width: 782px)
{
    .cf-app-pro {
        clear: both;
    }
}

.flexRow {
	display: flex;
	align-items: center;
}

.flexRow.range {
    text-align: center;
    align-items: flex-start;
}

.flexRow.range > div {
	flex-grow: 1;
	display: inline-grid;
	align-items: center;
}

.flexRow.range > div:nth-of-type(2) {
	flex-grow: 6;
}

.flexRow.range input {
	width: 100%;
}

.flexRow.range output {
	font-weight: bold;
}

.column-matched .dashicons {
	font-size: 200%;
}

.column-matched .dashicons-yes-alt {
	color: green;
}

.column-matched .dashicons-dismiss {
	color: orangered;
}



.pairs.pairs--columns {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 0;
}

.pairs.pairs--columns > dt {
	width: 50%;
	padding-right: 6px;
	color: #8c8c8c;
}
.pairs.pairs--columns > dt,
.pairs.pairs--columns > dd {
	display: table-cell;
}

.pairs.pairs--columns > dt {
	padding-right: 6px;
}

.pairs.pairs--columns.pairs--fluidSmall > dt {
	width: 25%;
}

.pairs.pairs--rightLabel > dt {
	text-align: right;
}

.pairs > dt:after {
	content: ":";
}

.request_trace td {
	vertical-align: middle;
}

.request_trace .column-matched {
	text-align: center;
}
.request_trace td {
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
}


/*
* RTL cleanup
 */

html[dir="rtl"] #app-for-cf_sidebar_wrapper {
	margin-left: initial;
	right: initial;
	left: 20px;
	margin-right: 10px;
}

html[dir="rtl"] .tab-wrapper {
	margin-right: initial;
	margin-left: 285px;
}

html[dir="rtl"] #app-for-cf_settings .pro li {
	margin-left: initial;
	margin-right: 25px;
}

html[dir="rtl"] .group_setup ul {
	padding-left: initial;
	padding-right: 3em;
}

html[dir="rtl"] .button-primary .dashicons,
html[dir="rtl"] .button-secondary .dashicons {
	padding-right: initial;
	padding-left: 4px;
}