/* plug-ins page */

.wp-list-table [data-plugin="app-for-cf/app-for-cf.php"] p {
	white-space: normal;
}

table.plugins [data-plugin="app-for-cf/app-for-cf.php"] p.green {
	color: green;
}

table.plugins [data-plugin="app-for-cf/app-for-cf.php"] p.green a {
	color: darkgreen;
}

table.plugins [data-plugin="app-for-cf/app-for-cf.php"] p.green a:hover {
	color: #009600;
}

table.plugins [data-plugin="app-for-cf/app-for-cf.php"] p.orange {
	color: orange;
}

table.plugins [data-plugin="app-for-cf/app-for-cf.php"] p.orange a {
	color: darkorange;
}

table.plugins [data-plugin="app-for-cf/app-for-cf.php"] p.orange a:hover {
	color: lightcoral;
}